---
import MarkGithub from "../icons/MarkGithub.astro";
import GitHubStar from "../icons/GitHubStar.astro";
import type { ColorList } from "~/utils/getLanguageColor";

type Props = {
  url: string;
  title: string;
  description: string | null;
  stargazers_count?: number;
  language: {
    name: string | null | undefined;
    colorCode: ColorList;
  };
};

const { url, title, description, stargazers_count, language } = Astro.props;
---

<div
  class="flex space-y-4 flex-col justify-between bg-gray-800 border-none rounded-lg p-4"
>
  <div class="flex space-y-4 flex-col">
    <div class="flex space-x-4 flex-row items-center">
      <MarkGithub />
      <a href={url} target="_blank" rel="nofollow noopener">
        <p class="text-lg font-bold">{title}</p>
      </a>
    </div>
    <p class="text-md">{description}</p>
  </div>

  <div class="flex space-x-4 justify-between">
    <div class="flex space-x-4 items-center">
      <GitHubStar />
      <p class="text-sm">{stargazers_count}</p>
    </div>
    <div class="flex space-x-4 items-center">
      <svg
        viewBox="0 0 200 200"
        color={language.colorCode}
        width="1em"
        height="1em"
      >
        <path
          fill="currentColor"
          d="M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"
        ></path>
      </svg>
      <p class="text-sm">{language.name}</p>
    </div>
  </div>
</div>
