---
import type { MarkdownLayoutProps } from "astro";
import SiteHeader from "~/components/shared/SiteHeader.astro";
import { formatDate } from "~/utils/date";
import Layout from "./Layout.astro";

export type Props = {
  title: string;
  image: string;
};

const { frontmatter, headings } =
  Astro.props as unknown as MarkdownLayoutProps<BlogFrontmatter>;

const { title, url, description, image, tags } = frontmatter;
const date = formatDate(new Date(frontmatter.date));
---

<Layout title={title} image={image} description={description}>
  <SiteHeader />
  <main
    class="flex gap-4 px-6 py-14 container mx-auto min-h-screen justify-center"
  >
    <article class="bg-gray-800 rounded-lg p-6 w-full max-w-[780px]">
      <h1 class="text-2xl mb-8 font-bold">{title}</h1>
      <div class="flex justify-end mb-8 space-x-2">
        <p>{date}</p>
        <a
          class="text-blue-600 hover:underline"
          href="https://twitter.com/pontaxx"
          target="_blank"
          rel="nofollow noopener">wattanx</a
        >
      </div>
      <section class="contents">
        <slot />
      </section>
    </article>
  </main>
</Layout>
<style is:global>
  .contents {
    font-size: 15px;
    @apply sm:text-base;
  }

  .contents h1,
  .contents h2,
  .contents h3,
  .contents h4 {
    @apply font-semibold mt-10 mb-1;
  }

  .contents h1 {
    @apply text-2xl;
  }

  .contents h2 {
    @apply text-xl;
  }

  .contents h3 {
    @apply text-lg;
  }

  .contents h4 {
    @apply text-base;
  }

  .contents ul {
    @apply list-disc pl-4 my-2;
  }
  .contents li > ul {
    @apply my-0;
  }

  .contents p {
    @apply my-4;
  }

  .contents a {
    @apply text-blue-600;
  }

  .contents strong {
    @apply font-bold;
  }
  .contents blockquote {
    @apply px-4 border border-gray-900 border-l-blue-300 border-l-2;
  }

  .contents code:not(pre > *) {
    @apply text-gray-400  bg-gray-900 mx-1 px-1 rounded-sm shadow-lg ring-white/5;
  }

  .contents pre {
    @apply p-4 text-sm rounded-lg my-4;
  }
</style>
