---
import Footer from "~/components/Footer.astro";
import GA from "~/components/GA.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  noindex?: boolean;
}

const {
  title,
  description = "Personal website of wattanx.",
  image,
  noindex,
} = Astro.props;

const ogImage = new URL(image ?? "/images/wattanx_og.png", Astro.site?.origin!)
  .href;
const url = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    {noindex && <meta name="robots" content="noindex" />}

    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="wattanx" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@pontaxx" />

    <link rel="canonical" href={url} />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <Footer />
    <style is:global>
      :root {
        --gray-900: #1b1b1b;
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        background-color: var(--gray-900);
        color: white;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      :focus-visible {
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
        outline: 2px solid transparent;
      }
    </style>
    {import.meta.env.PROD && <GA />}
  </body>
</html>
